<h1>Media test</h1>
<article>
	<div class="media-info"> | </div>
</article>

<h1>Semantic test</h1>
<article>
	<h2>[Paragraph factor] content</h2>
	<content>
		<section>
			<header>Title..</header>
			<content>
				<p>description..</p>
			</content>
			<footer>
				<button>action..</button>
			</footer>
		</section>
	</content>
</article>
<article>
	<h2>[Detail box] stage</h2>
	<content>
		<stage>
			<p>content</p>
		</stage>
		<stage>
			<p>content2</p>
		</stage>
	</content>
</article>
<article>
	<h2>[Piece content] leaf</h2>
	<content>
		<leaf> 
			<h3>Leaf title</h3>
			<p>Leaf content..</p>
		</leaf>
	</content>
</article>
<article>
	<h2>[Column list factor] inventory, deck, item</h2>
	<content>
		<inventory>
			<deck>
				<item>
					Item 1
				</item>
			</deck>
			<deck>
				<item>
					Item 2
				</item>
			</deck>
			<deck>
				<item>
					Item 3
				</item>
			</deck>
		</inventory>
	</content>
</article>
<article>
	<h2>[Form factor] context, group, controls</h2>
	<content>
		<section>
			<context>
				<group>
					<header>
						Control group title
					</header>
					<controls>
						<button>Command1</button>
						<button>Command2</button>
					</controls>
				</group>
			</context>
		</section>		
	</content>
</article>
<article>
	<h2>[UI Group]</h2>
	<content>
		<part>
			<band>
				<some-graphic></some-graphic>
				<some-graphic></some-graphic>
			</band>
			<sign>
				<p class="legend"></p>
			</sign>
		</part>
	</content>
</article>
<article>
	<h2>[Tab factor] tab, swtich, case</h2>
	<content>
		<tab>
			<li><a>Item1</a></li>
			<li><a>Item2</a></li>
			<li><a>Item3</a></li>
		</tab>
		<switch>
			<case>
				Case content 1
			</case>
			<case>
				Case content 2
			</case>
			<case>
				Case content 3
			</case>
		</switch>
	</content>
</article>
<article>
	<h2>[Modal factor] modal</h2>
	<content>
		<modal>
			<dialog>
				<header>title</header>
				<content>modal content</content>
				<footer>
					<controls>
						<button>cancle</button>
						<button>ok</button>
					</controls>
				</footer>
			</dialog>
		</modal>
	</content>
</article>
<article>
	<h2>[Scroll content] screen</h2>
	<content>
		<screen>
			Screen content
		</screen>
	</content>
</article>