<h1>Media test</h1>
<div class="media-info"> | </div>

<h1>Semantic test</h1>
<section>
	<h2>[Paragraph factor] content</h2>
	<content>
		<section>
			<header></header>
			<content></content>
			<footer></footer>
		</section>
	</content>
</section>
<section>
	<h2>[Hidden factor] leaf</h2>
	<content>
		<leaf> Leaf content </leaf>
	</content>
</section>
<section>
	<h2>[List factor] inventory, deck, item, sign</h2>
	<content>
		<inventory>
			<deck>
				<item>
					<header>
						Item title
					</header>
					<sign>
						(Visual factor)
					</sign>
				</item>
			</deck>
		</inventory>
	</content>
</section>
<section>
	<h2>[Form factor] bundle, context, group, controls</h2>
	<content>
		<bundle>
			<context>
				<group>
					<header>
						Control group title
					</header>
					<controls>
						<button>Command1</button>
						<button>Command2</button>
					</controls>
				</group>
			</context>
		</bundle>
	</content>
</section>
<section>
	<h2>[Tab factor] tab, swtich, case</h2>
	<content>
		<tab>
			<li><a>Item1</a></li>
			<li><a>Item2</a></li>
			<li><a>Item3</a></li>
		</tab>
		<switch>
			<case>
				Case content 1
			</case>
			<case>
				Case content 2
			</case>
			<case>
				Case content 3
			</case>
		</switch>
	</content>
</section>
<section>
	<h2>[Modal factor] modal</h2>
	<content>
		<modal>
			<dialog>
				<header>title</header>
				<content>modal content</content>
				<footer>
					<controls>
						<button>cancle</button>
						<button>ok</button>
					</controls>
				</footer>
			</dialog>
		</modal>
	</content>
</section>
<section>
	<h2>[Scroll content] screen</h2>
	<content>
		<screen>
			Screen content
		</screen>
	</content>
</section>